<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JMTeng.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6DB0E1542F48728F320F2446D1A053E4739ADDE6</string>
				<key>dateExpires</key>
				<string>2/22/25</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DB0E1542F48728F320F2446D1A053E4739ADDE6</string>
						<key>dateExpires</key>
						<string>2/22/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D2DRA3F792</string>
						<key>name</key>
						<string>JIHOON LEE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DB0E1542F48728F320F2446D1A053E4739ADDE6</string>
						<key>dateExpires</key>
						<string>2/22/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D2DRA3F792</string>
						<key>name</key>
						<string>JIHOON LEE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DB0E1542F48728F320F2446D1A053E4739ADDE6</string>
						<key>dateExpires</key>
						<string>2/22/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FloatingPanel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D2DRA3F792</string>
						<key>name</key>
						<string>JIHOON LEE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DB0E1542F48728F320F2446D1A053E4739ADDE6</string>
						<key>dateExpires</key>
						<string>2/22/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D2DRA3F792</string>
						<key>name</key>
						<string>JIHOON LEE</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DB0E1542F48728F320F2446D1A053E4739ADDE6</string>
						<key>dateExpires</key>
						<string>2/22/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D2DRA3F792</string>
						<key>name</key>
						<string>JIHOON LEE</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DB0E1542F48728F320F2446D1A053E4739ADDE6</string>
						<key>dateExpires</key>
						<string>2/22/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D2DRA3F792</string>
						<key>name</key>
						<string>JIHOON LEE</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DB0E1542F48728F320F2446D1A053E4739ADDE6</string>
						<key>dateExpires</key>
						<string>2/22/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D2DRA3F792</string>
						<key>name</key>
						<string>JIHOON LEE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DB0E1542F48728F320F2446D1A053E4739ADDE6</string>
						<key>dateExpires</key>
						<string>2/22/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D2DRA3F792</string>
						<key>name</key>
						<string>JIHOON LEE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DB0E1542F48728F320F2446D1A053E4739ADDE6</string>
						<key>dateExpires</key>
						<string>2/22/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NMapsGeometry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D2DRA3F792</string>
						<key>name</key>
						<string>JIHOON LEE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3.16.2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DB0E1542F48728F320F2446D1A053E4739ADDE6</string>
						<key>dateExpires</key>
						<string>2/22/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NMapsMap.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D2DRA3F792</string>
						<key>name</key>
						<string>JIHOON LEE</string>
					</dict>
					<key>versionNumber</key>
					<string>3.16.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DB0E1542F48728F320F2446D1A053E4739ADDE6</string>
						<key>dateExpires</key>
						<string>2/22/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D2DRA3F792</string>
						<key>name</key>
						<string>JIHOON LEE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DB0E1542F48728F320F2446D1A053E4739ADDE6</string>
						<key>dateExpires</key>
						<string>2/22/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftKeychainWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D2DRA3F792</string>
						<key>name</key>
						<string>JIHOON LEE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DB0E1542F48728F320F2446D1A053E4739ADDE6</string>
						<key>dateExpires</key>
						<string>2/22/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Swinject.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D2DRA3F792</string>
						<key>name</key>
						<string>JIHOON LEE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DB0E1542F48728F320F2446D1A053E4739ADDE6</string>
						<key>dateExpires</key>
						<string>2/22/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwinjectStoryboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D2DRA3F792</string>
						<key>name</key>
						<string>JIHOON LEE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6DB0E1542F48728F320F2446D1A053E4739ADDE6</string>
						<key>dateExpires</key>
						<string>2/22/25</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Then.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>D2DRA3F792</string>
						<key>name</key>
						<string>JIHOON LEE</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D2DRA3F792.com.JMT-iOSJMTengg</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>D2DRA3F792</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>JMTeng.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ceac9550-6e1f-44e3-8981-3552a31b29d2</string>
				<key>dateExpires</key>
				<string>2/22/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.JMT-iOSJMTengg</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D2DRA3F792</string>
				<key>name</key>
				<string>JIHOON LEE</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
